
/* PONKS CSS V2 - NOV 2025 */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root {
    --header-height: 3.5em;


    /* Colors */




    /* Fonts */




    
}


/* ===============================================================  BASE    ===================================================================== */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    }

h2 {
    font-size: 20px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 50px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
}

body {
    width: 100%;
}

/* ===============================================================  HEADER    ===================================================================== */

#logo {
    width: 100%;
    margin: -180px 0 0 30px;
    
}

#logo img {
    width: 100%;
}


/* ===============================================================  NAV    ===================================================================== */

nav {
    margin: 30px 0 0 80px;
}

nav li {
    list-style: none;
    margin: 0;
}

nav li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.3s ease;
}

nav li a:hover,
nav li a.active {
    color: #5c5d5d;
}

nav li a.active::after,
nav li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* ===============================================================  SECTION HEAD  ===================================================================== */
#home_page_head{
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_head_index{
width: 100%;
margin: 180px 0 0 80px;
}

#image_head_index {
    width: 100%;
    margin: 20px 665px 0 0;
}

#image_head_index img {
    width: 100%;
}

/* ===============================================================  SECTION GALLERY   ===================================================================== */

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 525px);
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 70px;
    margin-top: 150px;
}

.gallery_block{
    width: 525px;
    height: 525px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.gallery_img {
    width: 100%;
    transition: opacity 0.3 ease;
}

.gallery_block .gallery_img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery_img img{
    right: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_block p {
    text-align: center;
    position: absolute;
    color: #fe0138;
    font-weight: 400;
    font-size: 1.7rem;
    font-style: italic;
    margin-top: 625px;
    text-transform: uppercase;
}

/* ===============================================================  SECTION FILM HOME PAGE   ===================================================================== */

#hero_film_title {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #fea4ae;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

#hero_film_title p{
    color: #fe0137;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 80px;
}

#hero_film {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, 450px); */
    width: 100%;
    height: 715px;
    margin: 0 auto;
    /* justify-content: center; */
    /* gap: 70px; */
    background-color: #fea4ae;
    margin: 100px 0;  
      
}

#hero_film_frame {
    margin: 65px 0 0 270px;
}

#hero_film_txt {
    padding: 185px 0 0 75px;
}

#hero_film_txt p,
#hero_film_txt h2{
    color: #fe0137;
}

#hero_film_txt p{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

#hero_film_txt h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 0.8;
}

#hero_film_txt h2:last-of-type{
    margin-bottom: 25px;
}


/* ===============================================================   FOOTER   ===================================================================== */

footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

.footer-logo,
.footer-logo img {
margin-left:10px;
width: 100px;
}

.footer-info{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.footer-info p,
.footer-info a{
    color: #000;
    font-size: 1rem;
}

.footer-info a{
    text-decoration: none;
}

.footer-info p+p::before {
    content: "|";
    padding: 1.2rem
}


/* ===============================================================  TEMPLATE CAROUSEL  ===================================================================== */

#hero_work {
    width: 100%;
    display: flex;
    margin: 75px 0 200px 80px;
}
#hero_work_image,
#hero_work_image img {
    width: 800px;
    height: 800px;
    object-fit: cover;
}

/* #hero_work_image {
     margin:  0 50px; 
} */

#hero_work_text {
    margin-top: 100px;
}

#hero_work_text h2 {
    color: #fe0138;
    font-weight: 400;
    font-size: 1.7rem;
    font-style: italic;
    text-transform: uppercase;
}

#hero_work_text h3 {
    color: #000;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.1rem;
}

#hero_work_text h3:last-of-type {
    margin-bottom: 50px;
}


#hero_work_text p{
    font-size: 0.9rem;
    line-height: 1.1;
    margin-bottom: 20px;
}


#hero_work_gallery{
    display: flex;
    margin-right: 50px;

}


.thumbnail {
    width: 100px;
    height: 100px;
}

.hero_work_thumb_image{
    display: flex;
    flex-direction: column;
}

.hero_work_thumb_image img {
    cursor: pointer;
}

/* ===============================================================  CV BIO PAGE   =====================================================================*/

.cv_bio{
    margin: 150px 0 150px 80px;
    width: 100vh;
}

#downlaod_link{
    margin: 70px 0 100px 0;
}

#downlaod_link a{
    text-decoration: none;
    color: #000;
}